<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Mongo" type="MongoDB.Driver.Configuration.MongoConfiguration, MongoDB.Driver" />
  </configSections>
  <Mongo>
    <connections>
      <add key="mongoserver" connectionString="Server=localhost:27017"/>
    </connections>
  </Mongo>
</configuration>