<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Mongo" type="MongoDB.Configuration.MongoConfigurationSection, MongoDB" />
  </configSections>
  <Mongo>
    <connections>
      <add key="mongoserver" value="Server=localhost:27017" />
    </connections>
  </Mongo>
  <appSettings>
    <add  key="mongoserver" value="Server=localhost:27017"/>
  </appSettings>
</configuration>